<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions required for maps, location, and internet access -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyDreamPlaceWishlist"
        tools:targetApi="31">
        <!-- Activities (screens) in the app -->
        <activity android:name=".ProfileActivity"
            android:exported="false"/> <!-- Profile screen -->
        <activity
            android:name=".TermsActivity"
            android:exported="false" />  <!-- Terms & Privacy screen -->
        <activity
            android:name=".HelpActivity"
            android:exported="false" /> <!-- Help & Support screen -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false" /> <!-- Settings screen -->
        <activity
            android:name=".PhotoViewerActivity"
            android:exported="false" /> <!-- Fullscreen photo viewer -->
        <activity
            android:name=".MyDreamPlaceActivity"
            android:exported="false" /> <!-- Edit/view single Dream Place -->
        <activity
            android:name=".MapPickerActivity"
            android:exported="false" /> <!-- Pick a location on map -->
        <activity
            android:name=".AddDreamPlaceActivity"
            android:exported="false" /> <!-- Add new Dream Place -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" /> <!-- Login screen -->
        <activity
            android:name=".SignupActivity"
            android:exported="false" /> <!-- Signup screen -->
        <!-- Main entry point of the app -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Google Maps API key (required for MapFragment/MapPickerActivity) -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAw1T7vyj5DvjyH9IFhzfxYnC9YaFfFfvg" />
    </application>

</manifest>